
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDate</title>
</head>
<body>
    <div> 
        <h1>Hello From Get Date</h1>
        <h1>Date Time Is --@DateTime.Now </h1>
        <h1><a href="/home/getdate">Click Me</a></h1>
    </div>
</body>
</html>
