@{ 
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

   
    
        <h2>This is My Index Page</h2>
        <a href="/Employee">Get List</a><br />
        <a href="NewEmployee">Add New Employee</a>
    
