
@{
    ViewBag.Title = "Index";
}

<h2>Admin Area Index View</h2>

@Html.ActionLink("Sales Index View", "Index", "Home", new { area = "Sales" }, null)
<br />

@Html.ActionLink("Main Index View", "Index", "Home", new { area = "" }, null)